<div class="container">
  <ul>
    <li><a routerLink="/" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/to-do-list" routerLinkActive="active">To Do</a></li>
    <li><a routerLink="/post-list" routerLinkActive="active">Posts</a></li>    
    <li>Utility
      <ul>
        <li>
          <a routerLink="/api-helper" routerLinkActive="active">API Helper</a>
        </li>
        <li>
          <a routerLink="/style-guide" routerLinkActive="active">Style Guide</a>
        </li>
      </ul>
    </li>
    <li><a routerLink="/about" routerLinkActive="active">About</a></li>
  </ul>
</div>